.navigation {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

ul li {
    display: inline;
    padding-inline: 10px;
}

.navigation__link {
    color: blue;
    text-decoration: none;
}

.navigation__link:hover {
    color: red;
    outline: none;
}

.navigation__link:active {
    color: #fbff00;
}
